.intro__subtitle{
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (min-width:1281px){
  .intro__subtitle{
    width: 690px;
  }
}
