.header__lang-link_english{
    width: 27px;
    height: 28px;
    font-size: 24px;
    line-height: 1.16;
    padding-right: 18px;
    text-decoration: underline;
  }




  
  @media screen and (min-width:320px) and (max-width:767px){
    .lead__subtitle{
      font-size: calc(18px + 9px * (100vw - 320px)/ 447px);
      line-height: 1.33;
    }
  }