.lead__subtitle{
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  width: 620px;
  min-height: 72px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (min-width:320px) and (max-width:767px){
  .lead__subtitle{
    font-size: calc(16px + 14px * (100vw - 320px)/ 447px);
    line-height: 1.25;
  }
}